$mobile320 : 320px;
$tablet768 : 768px;
$web1280 : 1280px;
$web1536 : 1536px;
$web1536 : 1536px;
$web1920 : 1920px;
$web2560 : 2560px;

$pretendard : 'Pretendard', sans-serif;
$redhot : 'Red Hat Display', sans-serif;

@mixin respond($size) {
    @media (min-width:$size) {
        @content;
    }
}